In [15]:
import pandas as pd
import numpy as np

In [3]:
ser1 = pd.Series(data=[320,180,300,405], index=['一季度','二季度','三季度','四季度'])

In [5]:
ser1

一季度    320
二季度    180
三季度    300
四季度    405
dtype: int64

In [4]:
ser2 = pd.Series({'一季度': 320,'erjidu':180,'sanjidu':300,'sijidu':405})

In [7]:
ser2

一季度        320
erjidu     180
sanjidu    300
sijidu     405
dtype: int64

In [8]:
ser2[1]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6808\19993698.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser2[1]

180

In [9]:
ser2[2]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6808\757981701.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser2[2]

300

In [10]:
ser2[1:3]=400,500

In [11]:
ser2

一季度        320
erjidu     400
sanjidu    500
sijidu     405
dtype: int64

In [12]:
ser2[ser2>=500]

sanjidu    500
dtype: int64

In [13]:
pd.dtype(ser1)

AttributeError: module 'pandas' has no attribute 'dtype'

In [14]:
ser1.dtype

dtype('int64')

In [15]:
ser1.hasnans

False

In [16]:
ser1.at

In [17]:
ser1.at(1)

TypeError: '_AtIndexer' object is not callable

In [18]:
ser1.index

Index(['一季度', '二季度', '三季度', '四季度'], dtype='object')

In [19]:
ser1.size

4

In [20]:
ser1.values

array([320, 180, 300, 405], dtype=int64)

In [21]:
ser2.is_monotonic_decreasing

False

In [22]:
ser1.is_monotonic_increasing

False

In [23]:
ser1.is_monotonic_decreasing

False

In [24]:
ser1.is_unique

True

:

In [2]:
ser3.duplicated()

NameError: name 'ser3' is not defined

In [5]:
ser2.duplicated()

一季度        False
erjidu     False
sanjidu    False
sijidu     False
dtype: bool

In [6]:
ser3 = pd.Series(data=[1,2,3,4], index=[1,2,3,4])

In [7]:
ser3

1    1
2    2
3    3
4    4
dtype: int64

In [8]:
ser4 = pd.Series({1:1,1:1,1:2})

In [9]:
ser4

1    2
dtype: int64

In [10]:
ser5 = pd.Series({1:2,2:2,3:3})

In [11]:
ser5

1    2
2    2
3    3
dtype: int64

In [12]:
ser5.duplicated()

1    False
2     True
3    False
dtype: bool

In [13]:
ser5.drop_duplicates()

1    2
3    3
dtype: int64

In [16]:
ser6 = pd.Series(['cat', 'dog', np.nan, 'rabbit'])

In [17]:
ser6

0       cat
1       dog
2       NaN
3    rabbit
dtype: object

In [18]:
ser6.map({'cat': 'kitten', 'dog':'puppy'})

0    kitten
1     puppy
2       NaN
3       NaN
dtype: object

In [19]:
ser6

0       cat
1       dog
2       NaN
3    rabbit
dtype: object